$mobile-screen: 600px;
$tablet: 767px;
$small-screen: 1024px;
$desktop: 1200px;
$large-desktop: 1920px;

.hero {
        // border: 3px solid white;
        height: 100vh;
        position: relative;
        background-color: rgb(0, 0, 0);
        background:
                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url('../imgs/hero.jpg') center bottom / 80% auto no-repeat;
        // background-image: url('../imgs/hero.jpg');
        // background-size: 80% auto;
        // background-position: center bottom;
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: center;
        // overflow: hidden;
}

.hero-content {
        // height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30rem;
        // border: 1px solid white;
}

.hero-info {
        width: 100%;
        max-width: 1800px;
        padding: 3rem;
        color: white;

        // background: rgba(255, 255, 255, 0.1);
        // /* transparency */
        // backdrop-filter: blur(15px);
        // /* blur background */
        // -webkit-backdrop-filter: blur(15px);
        // /* Safari support */

        // border: 1px solid rgba(255, 255, 255, 0.2);
        // // border-radius: 16px;

        // box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

        // padding: 2rem;

        .cta-sub {
                font-family: "Bungee", sans-serif;
                font-style: normal;
                font-size: 3.5rem;
                opacity: 0.8;
        }

        .cta-main {
                font-family: "Bungee", sans-serif;
                font-style: normal;
                font-size: 5.1rem;
                margin: 1rem 0;
        }

        .cta-description {
                // font-family: "Bungee", sans-serif;
                opacity: 0.6;
                font-style: normal;
                font-size: 1.5rem;
                max-width: 600px;
        }

        .hero-links {
                margin-top: 4rem;
                display: flex;
                gap: 0.75rem;


                .shop-now-btn {
                        text-decoration: none;
                        font-size: 1.6rem;
                        padding: 1.4rem 3.2rem;
                        border: 1px solid #56FF7A;
                        background-color: #56FF7A;
                        color: black;
                        transition: all 0.3s ease;
                        // border-radius: 1rem;


                        &:hover {
                                background-color: transparent;
                                color: #56FF7A;
                                border: 1px solid #56FF7A;
                                transition: all 0.3s ease;
                        }
                }

                .learn-more-btn {
                        text-decoration: none;
                        font-size: 1.6rem;
                        padding: 1.4rem 3.2rem;
                        border: 1px solid rgba($color: #ffffff, $alpha: 0.7);
                        color: rgba($color: #ffffff, $alpha: 1);
                        background-color: transparent;
                        // border-radius: 1rem;

                        &:hover {
                                background-color: rgba($color: #ffffff, $alpha: 1);
                                color: #000000;
                                border: 1px solid #ffffff;
                                transition: all 0.3s ease;
                        }
                }
        }
}

@media (max-width: $large-desktop) {
        .hero-content {
                margin-top: 20rem;
        }

        .hero-info {
                padding: 3rem;

                .cta-sub {
                        font-size: 2.9rem;
                }

                .cta-main {
                        font-size: 4.5rem;
                }

                .cta-description {
                        font-size: 1.4rem;
                }

                .hero-links {
                        .shop-now-btn {
                                text-decoration: none;
                                font-size: 1.4rem;
                                padding: 1.2rem 3rem;
                                border: 1px solid #56FF7A;
                                background-color: #56FF7A;
                                color: black;
                                transition: all 0.3s ease;


                                &:hover {
                                        background-color: transparent;
                                        color: #56FF7A;
                                        border: 1px solid #56FF7A;
                                        transition: all 0.3s ease;
                                }
                        }

                        .learn-more-btn {
                                text-decoration: none;
                                font-size: 1.4rem;
                                padding: 1.2rem 3rem;
                                border: 1px solid rgba($color: #ffffff, $alpha: 0.7);
                                color: rgba($color: #ffffff, $alpha: 1);
                                background-color: transparent;

                                &:hover {
                                        background-color: rgba($color: #ffffff, $alpha: 1);
                                        color: #000000;
                                        border: 1px solid #ffffff;
                                        transition: all 0.3s ease;
                                }
                        }
                }
        }
}