$primary: #111111;
$accent: #2263c5;
$secondary: #1F2937;
$background: #F3F4F6;

.nav-container {
    display: flex;
    padding: 3rem 6rem;
    background-color: $background;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);

    .nav {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .nav-brand {
            .nav-logo {
                text-decoration: none;
                color: rgba($color: #000000, $alpha: 0.8);
                font-weight: 700;
                font-size: 2rem;
            }
        }

        .nav-services {
            display: flex;
            gap: 2rem;

            .nav-links {
                display: flex;
                align-items: center;
                gap: 1rem;

                .link {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    text-decoration: none;
                    color: rgba($color: #000000, $alpha: 0.5);

                    &:hover {
                        color: rgba($color: #000000, $alpha: 0.9);
                        transition: color 0.3s ease;
                    }
                }

                .link.active {
                    color: rgba($color: $accent, $alpha: 1);
                    font-weight: 600;
                }
            }
        }

        .nav-cart-container {
            display: flex;
            align-items: center;
        }
    }
}